{{ form_start(form, {'attr': {'class': 'form-style'}}) }}

    <div class="mb-3">
        {{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.year, 'Year', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.year, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.artist, 'Artists', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.artist, {'attr': {'class': 'form-select'}}) }}
    </div>

    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}